<!DOCTYPE>
<html>
 <head>
    {% if title %}
    <title>London Travel - {{ title }}</title>
    {% else %}
    <title>London Travel</title>
    {% endif %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ht.css') }}">
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
      }
   </style>
   <script>
     var map;
     var service;
     var infowindow;

     function initMap() {
       var london = new google.maps.LatLng(51.5103, 0.1498);

       infowindow = new google.maps.InfoWindow();

       map = new google.maps.Map(
           document.getElementById('map'), {center: london, zoom: 15});

       var request = {
         query: 'Connaught Hotel', 
         fields: ['name', 'geometry'],
       };

       service = new google.maps.places.PlacesService(map);

       service.findPlaceFromQuery(request, function(results, status) {
         if (status === google.maps.places.PlacesServiceStatus.OK) {
           for (var i = 0; i < results.length; i++) {
             createMarker(results[i]);
           }

           map.setCenter(results[0].geometry.location);
         }
       });
     }

     function createMarker(place) {
       var marker = new google.maps.Marker({
         map: map,
         position: place.geometry.location
       });

       google.maps.event.addListener(marker, 'click', function() {
         infowindow.setContent(place.name);
         infowindow.open(map, this);
       });
     }
   </script>
</head>
 <body>
    <div class="top-nav">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a class="active href="/hotels">Hotels</a></li>
          <li><a href="#entertainment">Entertainment</a></li>
          <li><a href="#food">Food</a></li>
          <li style="float:right"><a href="/contact">Contact</a></li>
        </ul>
        </div>
        
        <br>
        
              <section id="hotel">
                  <div id="hotel-cover" class="bg-parallax">
                      <div id="hotel-content-box">
                          <div id="hotel-content-box-inner" class="text-center">
                              <div id="hotel-heading">
                                  <h1>Hotels </h1>
                              </div>
        
                          </div>
                      </div>
                  </div>
              </section>
        
              <br><br>
                              <section id="aboutUs">
                                  <div class="content-box">
                                      <div class="content-title">
                                          <h3> Hotels</h3>
                                      </div>
                                      <div class="service-item-desc">
                                        <div class="row">
                                        <div class="column">
                                          <a href="https://www.theritzlondon.com/" target="_blank"><img class="zoom" src="ritz.jpg" alt="Mountains" width="225px" height="225px"></a>
                                          <div class="topleft">Ritz</div>
                                        </div>
                                        <div class="column">
                                          <a href="https://www.the-connaught.co.uk/?utm_source=google&utm_medium=organic&utm_campaign=local" target="_blank"><img class="zoom" src="conn.jpg" alt="Mountains" width="220px" height="220px"></a>
                                          <div class="topleft">Connaught </div>
                                        </div>
                                        <div class="column">
                                          <a href="https://www.oetkercollection.com/hotels/the-lanesborough/?utm_source=google&utm_medium=local&utm_campaign=lanesborough_local_listing" target="_blank"><img class="zoom" src="lan.jpg" alt="Forest" width="225px" height="225px"></a>
                                          <div class="topleft">Lanesborough</div>
                                        </div>
                                        <div class="column">
                                          <a href="https://www.shangri-la.com/london/shangrila/"><img class="zoom" src="sha.jpg" alt="Mountains" width="225px" height="225px"></a>
                                          <div class="topleft">Shangri-La</div>
                                        </div>
                                        <div class="column">
                                          <a href="https://thepilgrm.com/"><img class="zoom" src="pil.jpg" alt="Mountains" width="225px" height="225px"></a>
                                          <div class="topleft">Pilgrm</div>
                                        </div>
                                        <div class="column">
                                          <a href="https://www.lasuitewest.com/"><img class="zoom" src="la.jpg" alt="Mountains" width="225px" height="225px"></a>
                                          <div class="topleft">La Suite</div>
                                        </div>
                              </section>
                              
                                    <div id="map"></div>
                                             
                                    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap" async defer></script>
        
                                
        
        </body>
        
        </html>